<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

<div class="container" align="center">
<div class="jumbotron">
  <h1 class="display-4">Satya Movies</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>Welcome to movies</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/addmovie" role="button">Add Movie</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-primary btn-lg" href="/listmovies" role="button">List Movies</a>
  </p>
    </div>
</div>̥
</body>
</html>̥